body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f7f7f7;
}

.App {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
