.app {
  font-family: "Inter", sans-serif;
  margin: 15px;
  padding: 8px;
  background: linear-gradient(80deg, green 30%, green 10%, white 20%, white 70%, green 70%, green 100%);
  color: black;
  
}

header {
  padding: 2px;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}
header p {
  margin-top: 0;
}

section {
  margin: 7rem;
}

.location {
  margin: 7rem;
}

.location h2 {
  margin-bottom: 0;
}

.location p {
  margin-top: 0;
  

}
footer {
  background: linear-gradient(80deg, white 30%, white 10%, rgb(127, 171, 127) 20%, rgb(108, 158, 108) 72%, white 70%, white 100%);
  padding: 2px;
  text-align: center;
  color: rgb(48, 37, 37);

}