

.app {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
  padding: 0 45px;
  gap: 20px;
  height: 90vh;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
  /* background-color: rgb(245, 236, 236); */
}

.landmark {
  padding: 15px;
  color: white;
  margin-top: 0;
}
